

<footer class="footer-main">
    <div class="footer-logo">
        <a href=""><img src="logosmall.png" /></a>
    </div>
    <div class="footer-text">
        <span>&copy; @DateTime.Now.Year Project GrowthPath - NVWA Innovatielab</span>
    </div>
    <div class="footer-links">
        <NavLink class="footer-link" href="privacy">Privacy</NavLink>
        <NavLink class="footer-link" href="terms">Voorwaarden</NavLink>
    </div>
</footer>