.content-holder {
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    font-size: 20px;
}

.button-setup {
    margin-top: 20px;
    background: #183A53;
    width: 120px;
    height: 30px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 700;
}

.button-setup:hover {
    background: #183A53;

}

/*Name step*/
.name-hold {
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.name-content {
    margin: auto;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.image-holder {
    position: relative;
    bottom: -14px;
    right: -6px;
}

.benjamin-image {
    width: 200px;
    Margin: -10px;
}

/* Avatar step*/
/* Override btn-primary */

.btn {
    font-weight: 700;
}

.btn-secondary {
    background-color: #183A53 !important;
    color: white !important;
    border-radius: 20px;
}

    .btn-secondary:hover, .back-button:hover {
        background-color: aliceblue!important; 
        color: #183A53 !important;
    }

/* Override btn-success */
.btn-success {
    background-color: #183A53 !important;
    border-color: #183A53 !important;
    border-radius: 20px;
}

button.btn.btn-success:disabled {
    background-color: #4A6C89 !important;
    border-color: #4A6C89 !important;
    color: #ffffff !important; /* of een lichtere kleur als je wilt */
    opacity: 1 !important; /* optie om transparantie van disabled knop uit te zetten */
    cursor: not-allowed;
}

/* Custom button style */
.back-button {
    background-color: #183A53 !important;
    border: 1px solid #ccc;
    color: white; 
    padding: 0.5rem 1rem;
    border-radius: 20px;
}