@using System.ComponentModel.DataAnnotations
@using ProjectGrowthPath.Application.Interfaces
@using ProjectGrowthPath.Application.Service
@using ProjectGrowthPath.Application.State
@inject IFirstTimeSetupService SetupService
@inject SetupStateStore StateStorage
<!-- Eerste stap van de SetupWizard -->
<!-- Simpele naam invullen form -->
<div class="name-hold">
    <h3 class="mb-2">Welkom op GrowthPath!</h3>
    <div class="name-content">
        <div>
            <p class="text">Voordat we aan de slag gaan, wil ik eerst iets over jou leren.</p>
            <p class="text">Allereerst, wat is jouw naam?</p>
            <EditForm Model="model" OnValidSubmit="Submit">
                <DataAnnotationsValidator/>
                <ValidationSummary class="text-danger small mb-2"/>

                <div class="mb-3">
                    <InputText @bind-Value="model.Name" placeholder="Voornaam" class="form-control"/>
                </div>

                <button type="submit" class="button-setup">Verder</button>
            </EditForm>
        </div>
        <div class="image-holder">
            <img src="Benjamin-OG.png" class="benjamin-image"/>
        </div>
    </div>
</div>
@code {
    [Parameter] public EventCallback OnNext { get; set; }
    private NameStepModel model = new();
    private bool isInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await StateStorage.LoadAsync(); // Laad de gegevens pas na het renderen

            // Hier zet je de naam terug als die al eerder was ingevuld:
            model.Name = StateStorage.CurrentState.NewUser.Name;

            isInitialized = true;

            // Vraag een nieuwe render aan als er gegevens zijn geladen
            StateHasChanged();
        }
    }


    private async Task Submit()
    {
        await SetupService.UpdateNameAsync(model.Name);
        if (OnNext.HasDelegate)
            await OnNext.InvokeAsync();
    }

    private class NameStepModel
    {
        [Required(ErrorMessage = "Naam is verplicht")]
        public string Name { get; set; } = string.Empty;
    }
}