@page "/profile/setup"
@using Microsoft.AspNetCore.Identity
@using ProjectGrowthPath.Application.Interfaces
@using ProjectGrowthPath.Infrastructure.Identity
@using System.Security.Claims
@using Microsoft.Build.Framework
@using ProjectGrowthPath.Domain.Entities
@using ProjectGrowthPath.Infrastructure.Migrations
@using ProjectGrowthPath.UserInterface.Components.Layout
@inject UserManager<ApplicationUser> UserManager
@inject IUserProfileService ProfileService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider
@layout LoginAndRegister

@rendermode InteractiveServer
<PageTitle>Profile Set-up</PageTitle>
<div>

</div>

<EditForm Model="model" OnValidSubmit="CreateProfile" FormName="AddName">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="model.Name" placeholder="Voer je naam in" />
    <button type="submit">Profiel aanmaken</button>
</EditForm>

@code {
    private ProfileModel model = new();

    private async Task CreateProfile()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;

        if (!string.IsNullOrEmpty(userId))
        {
            // Check of er niet al een profiel bestaat
            var hasProfile = await ProfileService.HasProfileAsync(userId);

            var userProfile = new UserProfile()
            {
                    ApplicationUserId = userId,
                    Name = model.Name
            };
            

            if (!hasProfile)
            {

                userProfile.ApplicationUserId = userId;
                userProfile.Name = model.Name;  
                // Profiel aanmaken
                await ProfileService.CreateProfileAsync(userProfile);
                Navigation.NavigateTo("/"); 
            }
            else
            {
                Navigation.NavigateTo("/");
            }
        }
    }

    private class ProfileModel
    {
        [Required]
        public string Name { get; set; }
    }
}