@page "/profile/setup"
@using ProjectGrowthPath.UserInterface.Components.Layout
@using ProjectGrowthPath.Application.Interfaces

@inject IFirstTimeSetupService SetupService
@inject NavigationManager Navigation

@layout LoginAndRegister
@rendermode InteractiveServer

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Profile Set-up</PageTitle>
<div>

</div>


<SetupLayout>
    @if (stepIndex == 0)
    {
        <NameStep OnNext="NextStep"/>
    }
    else if (stepIndex == 1)
    {
        <AvatarStep OnNext="NextStep" OnBack="PreviousStep" />
    }
    else if (stepIndex == 2)
    {
        <SelectCompetencesSteps mode="interests" OnNext="NextStep" OnBack="PreviousStep" />
    }
    else if (stepIndex == 3)
    {
        <SelectCompetencesSteps Mode="skills" OnNext="NextStep" OnBack="PreviousStep" />
    }
    else if (stepIndex == 4)
    {
        <GoalStep OnNext="NextStep" OnBack="PreviousStep" />
    }
    else if (stepIndex == 5)
    {
        <LearningToolStep OnNext="NextStep" OnBack="PreviousStep" />
    }
    else if (stepIndex == 6)
    {
        <FinalizeStep OnFinish="FinishSetup" OnBack="PreviousStep" />
    }
</SetupLayout>

@code {
    private int stepIndex = 0;

    private void NextStep() => stepIndex++;
    private void PreviousStep() => stepIndex--;

    private async Task FinishSetup()
    {
        await SetupService.FinalizeSetupAsync();
        Navigation.NavigateTo("/dashboard");
    }
}