@page "/"
@using Microsoft.AspNetCore.Authorization
@using ProjectGrowthPath.Application.Interfaces
@using ProjectGrowthPath.Domain.Entities
@using System.Text
@using ProjectGrowthPath.Application.Interfaces.IServices

@inject IProfileCheckService ProfileCheckService
@inject IUserSessionService UserSessionService
@inject NavigationManager _navigation

@attribute [Authorize]


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (_svgMarkup == null)
{
    <p>Bezig met laden...</p>
}
else
{
    @((MarkupString)_svgMarkup)
}

@code {
    private UserProfile? _profile;
    string? _svgMarkup = null;


    protected override async Task OnInitializedAsync()
    {
        await ProfileCheckService.CheckAndRedirectIfNeeded();

        if (_navigation.Uri.EndsWith("/profile/setup"))
            return;

        _profile = await UserSessionService.GetAsync();

        if (_profile != null && _profile.ProfilePicture != null)
        {
            _svgMarkup = Encoding.UTF8.GetString(_profile.ProfilePicture);
        }
    }
}