@page "/"
@using Microsoft.AspNetCore.Authorization
@using ProjectGrowthPath.Application.Interfaces
@using ProjectGrowthPath.Domain.Entities
@using System.Text
@inject IProfileCheckService ProfileCheckService
@inject IUserProfileService UserProfileService

@attribute [Authorize]


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (svgMarkup == null)
{
    <p>Bezig met laden...</p>
}
else
{
    @((MarkupString)svgMarkup)
}

@code {

    string? svgMarkup = null;


    protected override async Task OnInitializedAsync()
    {
        await ProfileCheckService.CheckAndRedirectIfNeeded();

        var currentUser = await UserProfileService.GetUserProfileByApplicationContext();

        if (currentUser != null && currentUser.ProfilePicture != null)
        {
            svgMarkup = Encoding.UTF8.GetString(currentUser.ProfilePicture);
        }
    }
}