@page "/"
@using Microsoft.AspNetCore.Authorization
@using ProjectGrowthPath.Application.Interfaces
@using System.Text
@using ProjectGrowthPath.Application.DTOs

@inject NavigationManager _navigation

@attribute [Authorize]


<PageTitle>Home</PageTitle>

@if (UserProfile == null)
{
    <p>Profiel wordt geladen, even geduld...</p>
}
else if (_svgMarkup == null)
{
    <p>Bezig met laden...</p>
}
else
{
    <div class="component-layout-home">
        <div class="home-image">
            <div class="login-button-holder">
                <a class="login-button" href="/">Aan de slag!</a>
            </div>
        </div>
    </div>
    <div class="homepage-content">
        <h1>Jouw recente activiteit</h1>
        <div class="homepage-boxes">
            <div class="left-box">
                <div class="profile-picture">
                    @((MarkupString)_svgMarkup)
                </div>
                <h2>@UserProfile.Name</h2>
            </div>
            <div class="right-box">
                <div class="content-boxes">
                    <div class="little-boxes-right">
                        <h3>Content Content</h3>
                        <p>Balblablablabla</p>
                    </div>
                    <div class="little-boxes-right">
                        <h3>Content Content</h3>
                        <p>Balblablablabla</p>
                    </div>
                    <div class="little-boxes-right">
                        <h3>Content Content</h3>
                        <p>Balblablablabla</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
}

@code {
    [CascadingParameter(Name = "UserProfile")]
    public UserProfileDto? UserProfile { get; set; }

    string? _svgMarkup = null;

    protected override async Task OnParametersSetAsync()
    {
        if (_navigation.Uri.EndsWith("/profile/setup"))
            return;

        Console.WriteLine(UserProfile == null
            ? "Geen profiel gevonden - Home.razor" 
            : $"Profiel geladen Home.razor: {UserProfile.Name}");


        if (UserProfile != null && UserProfile.ProfilePicture != null)
        {
            _svgMarkup = Encoding.UTF8.GetString(UserProfile.ProfilePicture);
        }

        StateHasChanged();

    }
}
