@page "/Account/InvalidPasswordReset"
@using ProjectGrowthPath.UserInterface.Components.Layout

@layout LoginAndRegister


<PageTitle>Invalid password reset</PageTitle>

<h1>Invalid password reset</h1>
<p role="alert">
    The password reset link is invalid.
</p>
