@page "/landing"
@layout LoginAndRegister

@using ProjectGrowthPath.UserInterface.Components.Layout
  
<div class="component-layout">
    <div class="home-image">
        <div class="login-button-holder">
            <button class="login-button" type="button">Log nu in!</button>
        </div>
    </div>
    <div class="vector-image-1">
    </div>
    <div class="about-text">
        <h2>Wat doen we?</h2>
        <p>Op GrowthPath doen we het anders!</p>
        <p>Wij maken gebruik van punten en een leaderboard.</p>
        <p>Ga de strijd aan met je collega’s en word de beste!</p>
    </div>
</div>

@code {

}
