@page "/landing"
@layout LoginAndRegister

@using ProjectGrowthPath.UserInterface.Components.Layout
  
<div class="component-layout">
    <div class="home-image">
        <div class="login-button-holder">
            <button class="login-button" type="button">Log nu in!</button>
        </div>
    </div>
    <div class="vector-image-1">

    </div>
</div>

@code {

}
