@page "/competences"
@using ProjectGrowthPath.Application.Service
@using ProjectGrowthPath.Application.DTOs.Competences
@attribute [StreamRendering]
@inject CompetenceService CompetenceService
@rendermode InteractiveServer

<h3>BASE</h3>

@code {

}
